@model Web.Models.Periferico

@{
    ViewData["Title"] = "Excluir Periférico";
}

<h1>@ViewData["Title"]</h1>

<h3>Você tem certeza que quer excluir este periférico?</h3>
<div>
    <h4>Periférico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ColaboradorNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ColaboradorNome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="PartNumber" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a Lista</a>
    </form>
</div>
