@model Web.Models.Computador

@{
    ViewData["Title"] = "Detalhes do Computador";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Computador</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">MAC</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.MAC)</dd>

        <dt class="col-sm-2">IP</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.IP)</dd>

        <dt class="col-sm-2">Hostname</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Hostname)</dd>

        <dt class="col-sm-2">Usuário</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Usuario)</dd>

        <dt class="col-sm-2">Fabricante</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Fabricante)</dd>

        <dt class="col-sm-2">Sistema Operacional</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.SO)</dd>

        <dt class="col-sm-2">Data da Coleta</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.DataColeta)</dd>
    </dl>
</div>

<hr />

<h4>Processador</h4>
<dl class="row">
    <dt class="col-sm-2">Nome</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.ProcessadorNome)</dd>
    <dt class="col-sm-2">Fabricante</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.ProcessadorFabricante)</dd>
    <dt class="col-sm-2">Cores</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.ProcessadorCores)</dd>
    <dt class="col-sm-2">Threads</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.ProcessadorThreads)</dd>
    <dt class="col-sm-2">Clock</dt>
    <dd class="col-sm-10">@Html.DisplayFor(model => model.ProcessadorClock)</dd>
</dl>

<hr />

<h4>Discos</h4>
<table class="table">
    <thead>
        <tr>
            <th>Letra</th>
            <th>Total (GB)</th>
            <th>Livre (GB)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var disco in Model.Discos) {
        <tr>
            <td>@Html.DisplayFor(modelItem => disco.Letra)</td>
            <td>@Html.DisplayFor(modelItem => disco.TotalGB)</td>
            <td>@Html.DisplayFor(modelItem => disco.LivreGB)</td>
        </tr>
}
    </tbody>
</table>

<hr />

<h4>Placas de Vídeo (GPU)</h4>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Fabricante</th>
            <th>RAM Dedicada (GB)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var gpu in Model.GPUs) {
        <tr>
            <td>@Html.DisplayFor(modelItem => gpu.Nome)</td>
            <td>@Html.DisplayFor(modelItem => gpu.Fabricante)</td>
            <td>@Html.DisplayFor(modelItem => gpu.RamDedicadaGB)</td>
        </tr>
}
    </tbody>
</table>

<hr />

<h4>Adaptadores de Rede</h4>
<table class="table">
    <thead>
        <tr>
            <th>Descrição</th>
            <th>IP</th>
            <th>Máscara de Sub-rede</th>
            <th>Gateway</th>
            <th>DNS</th>
        </tr>
    </thead>
    <tbody>
@foreach (var adapter in Model.AdaptadoresRede) {
        <tr>
            <td>@Html.DisplayFor(modelItem => adapter.Descricao)</td>
            <td>@Html.DisplayFor(modelItem => adapter.EnderecoIP)</td>
            <td>@Html.DisplayFor(modelItem => adapter.MascaraSubRede)</td>
            <td>@Html.DisplayFor(modelItem => adapter.GatewayPadrao)</td>
            <td>@Html.DisplayFor(modelItem => adapter.ServidoresDNS)</td>
        </tr>
}
    </tbody>
</table>


<div>
    <a asp-action="Edit" asp-route-id="@Model.MAC" class="btn btn-primary">Editar</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</div>
