@model IEnumerable<web.Models.Computador>

@{
    ViewData["Title"] = "Lista de Computadores";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar Novo Computador</a>
</p>

<div class="mb-3">
    <div class="dropdown d-inline-block">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="columnVisibilityDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Exibir/Ocultar Colunas
        </button>
        <div class="dropdown-menu" aria-labelledby="columnVisibilityDropdown" id="column-visibility-menu">
            <!-- Checkboxes will be inserted here by JavaScript -->
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th class="col-ip">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["IpSortParm"]">IP</a>
                </th>
                <th class="col-mac">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["MacSortParm"]">MAC</a>
                </th>
                <th class="col-usuario">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["UserSortParm"]">Usuário</a>
                </th>
                <th class="col-hostname">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["HostnameSortParm"]">Hostname</a>
                </th>
                <th class="col-fabricante">
                    Fabricante
                </th>
                <th class="col-processador">
                    Processador
                </th>
                <th class="col-processadorfabricante">
                    Fab. Processador
                </th>
                <th class="col-processadorcore">
                    Cores
                </th>
                <th class="col-processadorthread">
                    Threads
                </th>
                <th class="col-processadorclock">
                    Clock
                </th>
                <th class="col-ram">
                    RAM
                </th>
                <th class="col-ramtipo">
                    Tipo RAM
                </th>
                <th class="col-ramvelocidade">
                    Vel. RAM
                </th>
                <th class="col-ramvoltagem">
                    Volt. RAM
                </th>
                <th class="col-ramporomodule">
                    RAM/Módulo
                </th>
                <th class="col-armazenamentoc">
                    Armaz. C
                </th>
                <th class="col-armazenamentoctotal">
                    Total C
                </th>
                <th class="col-armazenamentoclivre">
                    Livre C
                </th>
                <th class="col-armazenamentod">
                    Armaz. D
                </th>
                <th class="col-armazenamentodtotal">
                    Total D
                </th>
                <th class="col-armazenamentodlivre">
                    Livre D
                </th>
                <th class="col-so">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["OsSortParm"]">Sistema Operacional</a>
                </th>
                <th class="col-consumocpu">
                    Consumo CPU
                </th>
                <th class="col-datacoleta">
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Data da Coleta</a>
                </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="col-ip">@Html.DisplayFor(modelItem => item.IP)</td>
                    <td class="col-mac">@Html.DisplayFor(modelItem => item.MAC)</td>
                    <td class="col-usuario">@Html.DisplayFor(modelItem => item.Usuario)</td>
                    <td class="col-hostname">@Html.DisplayFor(modelItem => item.Hostname)</td>
                    <td class="col-fabricante">@Html.DisplayFor(modelItem => item.Fabricante)</td>
                    <td class="col-processador">@Html.DisplayFor(modelItem => item.Processador)</td>
                    <td class="col-processadorfabricante">@Html.DisplayFor(modelItem => item.ProcessadorFabricante)</td>
                    <td class="col-processadorcore">@Html.DisplayFor(modelItem => item.ProcessadorCore)</td>
                    <td class="col-processadorthread">@Html.DisplayFor(modelItem => item.ProcessadorThread)</td>
                    <td class="col-processadorclock">@Html.DisplayFor(modelItem => item.ProcessadorClock)</td>
                    <td class="col-ram">@Html.DisplayFor(modelItem => item.Ram)</td>
                    <td class="col-ramtipo">@Html.DisplayFor(modelItem => item.RamTipo)</td>
                    <td class="col-ramvelocidade">@Html.DisplayFor(modelItem => item.RamVelocidade)</td>
                    <td class="col-ramvoltagem">@Html.DisplayFor(modelItem => item.RamVoltagem)</td>
                    <td class="col-ramporomodule">@Html.DisplayFor(modelItem => item.RamPorModule)</td>
                    <td class="col-armazenamentoc">@Html.DisplayFor(modelItem => item.ArmazenamentoC)</td>
                    <td class="col-armazenamentoctotal">@Html.DisplayFor(modelItem => item.ArmazenamentoCTotal)</td>
                    <td class="col-armazenamentoclivre">@Html.DisplayFor(modelItem => item.ArmazenamentoCLivre)</td>
                    <td class="col-armazenamentod">@Html.DisplayFor(modelItem => item.ArmazenamentoD)</td>
                    <td class="col-armazenamentodtotal">@Html.DisplayFor(modelItem => item.ArmazenamentoDTotal)</td>
                    <td class="col-armazenamentodlivre">@Html.DisplayFor(modelItem => item.ArmazenamentoDLivre)</td>
                    <td class="col-so">@Html.DisplayFor(modelItem => item.SO)</td>
                    <td class="col-consumocpu">@Html.DisplayFor(modelItem => item.ConsumoCPU)</td>
                    <td class="col-datacoleta">@Html.DisplayFor(modelItem => item.DataColeta)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.MAC" class="btn btn-warning btn-sm">Editar</a>
                        <a asp-action="Delete" asp-route-id="@item.MAC" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/computer-list.js" asp-append-version="true"></script>
}